<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f5900074a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/contact.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1030px)" href="../CSS/phone.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="i5mage">
        <nav id="navbar">
            <div id="logo">
                <img id="logo1" src="/img/logo5.png" alt="error">
                <p>FoodElite</p>
            </div> 
            <ul>
                <li class="item1"><a href="/">Home</a></li>
                <li class="item2"><a href="/menu.html">Menu</a></li>
                <li class="item3"><a href="/gallery.html">Gallery</a></li>
                <li class="item4"><a href="/contact.html">Contact Us</a></li>
            </ul>   
        </nav>
    </div>

    <section id="contact">
        <div id="info">
            <div id="whatsaap">
                <i class="fa fa-whatsapp"></i>
                <h4>9873576453</h4>
            </div>
            <div id="add">
                <i class="fa fa-map-marker"></i>
                <h4>Gandhinagar,bhopal</h4>
            </div>
            <div id="email-logo">
                <i class="fa fa-envelope-o"></i>
                <h4>foodelite0831@gmail.com</h4>
            </div>
            
        </div>
        <div id="contact-box">
            <h1 >Get in touch!</h1>
            <h3>Contact us for help</h3>
            <form action="/register2" method="post">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="phone" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="2" rows="2" placeholder="Type your messsage"></textarea>
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn">Send message</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>