<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/gallery.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1030px)" href="../CSS/phone.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <div id="">
        <nav id="navbar">
            <div id="logo">
                <img id="logo1" src="/img/logo5.png" alt="error">
                <p>FoodElite</p>
            </div> 
            <ul>
                <li class="item1"><a href="/">Home</a></li>
                <li class="item2"><a href="/menu.html">Menu</a></li>
                <li class="item3"><a href="/gallery.html">Gallery</a></li>
                <li class="item4"><a href="/contact.html">Contact Us</a></li>
            </ul> 
        </nav>   
    </div>  

    <div class="wrapper">
        <div class="menu1">
            <div class="single-menu">
                <img src="/img/momo.jpg" alt="">
                <div class="menu-content">
                    <h4>Momos <span>&#8377;90</span></h4>
                    <p>Steamed momos have fewer calories and can be substituted for salad.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="/img/chickenfried.jpg" alt="">
                <div class="menu-content">
                    <h4>chicken fried salad <span>&#8377;195</span></h4>
                    <p>It is one of the first American forms of chicken salad was served by Town Meats in Wakefield, Rhode Island, in 1863</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="/img/burger.jpg" alt="">
                <div class="menu-content">
                    <h4>Burger <span>&#8377;65</span></h4>
                    <p>“Burger” is short for “hamburger,” not because it’s made of ham but because the name derived from Hamburg, Germany.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="/img/sandwich.jpg" alt="">
                <div class="menu-content">
                    <h4>Sandwich <span>&#8377;50</span></h4>
                    <p>Around 12 billion sandwiches are eaten every year in the UK.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="/img/pizza.jpg" alt="">
                <div class="menu-content">
                    <h4>Pizza <span>&#8377;99</span></h4>
                    <p>Americans eat approximately 100 acres of pizza each day, or 350 slices per second.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="/img/mushroom.jpg" alt="">
                <div class="menu-content">
                    <h4>Mushroom <span>&#8377;145</span></h4>
                    <p>There are over 20 species of mushrooms that are edible.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>