<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <script src="https://kit.fontawesome.com/f5900074a4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1130px)" href="../CSS/phone.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="image">
        <nav id="navbar">
            <div id="logo">
                <img id="logo1" src="/img/logo5.png" alt="error">
                <p>FoodElite</p>
            </div> 
            <ul>
                <li class="item1"><a href="/">Home</a></li>
                <li class="item2"><a href="/menu.html">Menu</a></li>
                <li class="item3"><a href="/gallery.html">Gallery</a></li>
                <li class="item4"><a href="/contact.html">Contact Us</a></li>
            </ul>
            <div class="button">
                <a id="login1" href="/login.html">Login</a>
                <a id="login2" href="/signup.html">Sign Up</a>
            </div>
            
        </nav>
        <section id="home">
            <h1 class="h-primary">Order Tasty and Fresh</h1>
            <h1 class="h-primary">Food Anytime</h1>
            <div class="para">
                <p>Delight in every bite</p>
            </div>
            <a href="#order1" class="btn">Order Now</a>
        </section>
    </div>

    <div class="catogory">
        <section id="services-class">
            <!-- <h1 class="h-center">Our Services</h1> -->
            <h1 class="heading">Our <span>Services</span></h1>
            <div id="services">
                <div class="box1">
                    <img src="img/paneer.jpg" alt="error">
                    <h2 class="h-secondary">Veg</h2>
                    <p>Eat green</p>
                </div>
            <div class="box1">
                <img src="img/Nonveg5.jpg" alt="error" class="img1">
                <h2 class="h-secondary">Non-Veg</h2>
                <p>Let’s meat</p>
            </div>
            <div class="box1">
                <img src="img/deliveryguy.png" alt="error" class="img1">
                <h2 class="h-secondary">Food Ordering</h2>
                <p>Faster than you can imagine</p>
            </div>
            </div>  
        </section>
    </div>

    <div class="step-container">

        <h1 class="heading">How it <span>works</span></h1>
    
        <section class="steps">
    
            <div class="box">
                <img src="img/step-1.jpg" alt="">
                <h3>Choose your favorite food</h3>
            </div>
            <div class="box">
                <img src="img/step-2.jpg" alt="">
                <h3>Free and fast delivery</h3>
            </div>
            <div class="box">
                <img src="img/step-3.jpg" alt="">
                <h3>Easy payments methods</h3>
            </div>
            <div class="box">
                <img src="img/step-4.jpg" alt="">
                <h3>Finally, enjoy your food</h3>
            </div>
        
        </section>
    
    </div>
    
    <section class="order" id="order1">

        <h1 class="heading"> <span>Order</span> now </h1>
        <div class="row">
            <div class="image">
                <img src="img/waiter2.png" alt="">
            </div>
            <form action="/register" method="post">
    
                <div class="inputBox">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                </div>
    
                <div class="inputBox">
                    <input type="number" placeholder="Number">
                    <input type="text" placeholder="Food name">
                </div>
    
                <textarea placeholder="Address" name="" id="" cols="30" rows="10"></textarea>
                <button type="submit" class="btn">Order Now</button>
            </form>
    
        </div>
    
    </section>
    

    <footer>
        <div class="center">
            Copyright &copy; www.foodelite.com. All rights reserved!
        </div>
    </footer>
</body>
</html>