<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f5900074a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1030px)" href="../CSS/phone.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <div id="ijmage">
        <nav id="navbar">
            <div id="logo">
                <img id="logo1" src="/img/logo5.png" alt="error">
                <p>FoodElite</p>
            </div> 
            <ul>
                <li class="item1"><a href="/">Home</a></li>
                <li class="item2"><a href="/menu.html">Menu</a></li>
                <li class="item3"><a href="/gallery.html">Gallery</a></li>
                <li class="item4"><a href="/contact.html">Contact Us</a></li>
            </ul>   
        </nav>
    </div>
    <section id="login">
        <div id="login-box">
            <form id="login-form" action="/login" method="post">
                <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <i class="fa fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="login-btn">
                    <button type="submit" class="btn">LOGIN</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>