<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/menu.css">
    <link rel="stylesheet" media="screen and (max-width: 1030px)" href="../CSS/phone.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">


  </head>
  <body>
    <div id="image1">
      <nav id="navbar">
        <div id="logo">
          <img id="logo1" src="/img/logo5.png" alt="error">
          <p>FoodElite</p>
        </div> 
        <ul>
          <li class="item1"><a href="/">Home</a></li>
          <li class="item2"><a href="/menu.html">Menu</a></li>
          <li class="item3"><a href="/gallery.html">Gallery</a></li>
          <li class="item4"><a href="/contact.html">Contact Us</a></li>
        </ul> 
      </nav>
    </div> 

    <div>
      <div class="wrapper">
        <div class="title">
            <h4><span>fresh food for good health</span>our menu</h4>
        </div>
      </div>
    </div>
      
    <form action="/menu" method="post" id="btn-menu">    
      <div class="full-menu">
        <div id="starter-menu">
          <div class="menu">
              <h4 class="Headings">Starters</h4>
              <div class="reverse">
                  <div class="cost">
                      <div>&#8377; 210</div>
                      <div>&#8377; 210</div>
                      <div>&#8377; 215</div>
                      <div>&#8377; 240</div>
                      <div>&#8377; 195</div>
                      <div>&#8377; 100</div>
                      <div>&#8377; 80</div>
                      <div>&#8377; 50</div>
                      <div>&#8377; 80</div>
                  </div>
                  <div class="food">
                      
                      <div ><input name="order" type="checkbox" value="Chilli Chicken"> Chilli Chicken</div>
                      <div ><input name="order" type="checkbox" value="Chicken 65"> Chicken 65</div>
                      <div ><input name="order" type="checkbox" value="Pepper Chicken"> Pepper Chicken</div>
                      <div ><input name="order" type="checkbox" value="Pepper Tikka"> Pepper Tikka</div>
                      <div ><input name="order" type="checkbox" value="Paneer 65"> Paneer 65</div>
                      <div ><input name="order" type="checkbox" value="Veg Manchurian"> Veg Manchurian</div>
                      <div ><input name="order" type="checkbox" value="Subuana Tikka"> Subuana Tikka</div>
                      <div ><input name="order" type="checkbox" value="Spring Roll"> Spring Roll</div>
                      <div ><input name="order" type="checkbox" value="Sweet Potato Tikki"> Sweet Potato Tikki</div>
                  </div>
              </div> 
          </div>
        </div> 
  
        <div id="bread-menu">
          <div class="menu">
            <h4 class="Headings">Bread</h4>
            <div class="reverse">
              <div class="cost">
                <div>&#8377; 25</div>
                <div>&#8377; 30</div>
                <div>&#8377; 35</div>
                <div>&#8377; 12</div>
                <div>&#8377; 15</div>
                <div>&#8377; 16</div>
                <div>&#8377; 120</div>
                <div>&#8377; 80</div>
                <div>&#8377; 80</div>

              </div>
              <div class="food">
                <div ><input name="order" type="checkbox" value="Onion Kulcha"> Onion Kulcha</div>
                <div ><input name="order" type="checkbox" value="Garlic Naan"> Garlic Naan</div>
                <div ><input name="order" type="checkbox" value="Kashmiri Naan"> Kashmiri Naan</div>
                <div ><input name="order" type="checkbox" value="Chappati"> Chappati</div>
                <div ><input name="order" type="checkbox" value="Poori"> Poori</div>
                <div ><input name="order" type="checkbox" value="Paratha"> Paratha</div>
                <div ><input name="order" type="checkbox" value="Keema Paratha"> Keema Paratha</div>
                <div ><input name="order" type="checkbox" value="Tawa Bread Rolls"> Tawa Bread Rolls</div>
                <div ><input name="order" type="checkbox" value="Masala Cheese Toast"> Masala Cheese Toast</div>
              </div>
            </div>
          </div>
        </div>
  
      
      
        <div id="seafood-menu">
          <div class="menu">
            <h4 class="Headings">Sea Food</h4>
            <div class="reverse">
              <div class="cost">
                <div>&#8377; 25</div>
                <div>&#8377; 30</div>
                <div>&#8377; 35</div>
                <div>&#8377; 12</div>
                <div>&#8377; 15</div>
                <div>&#8377; 16</div>
                <div>&#8377; 99</div>
                <div>&#8377; 89</div>
                <div>&#8377; 120</div>
              </div>
              <div class="food">
                <div ><input name="order" type="checkbox" value="Prawns"> Prawns</div>
                <div ><input name="order" type="checkbox" value="Fish Tikka Masala"> Fish Tikka Masala</div>
                <div ><input name="order" type="checkbox" value="Sushi"> Sushi</div>
                <div ><input name="order" type="checkbox" value="Sashimi"> Sashimi</div>
                <div ><input name="order" type="checkbox" value="Squid"> Squid</div>
                <div ><input name="order" type="checkbox" value="Oyster"> Oyster</div>
                <div ><input name="order" type="checkbox" value="Buttered Carlic Shrimp"> Buttered Carlic Shrimp</div>
                <div ><input name="order" type="checkbox" value="Sinigang na Sugpo"> Sinigang na Sugpo</div>
                <div ><input name="order" type="checkbox" value="Baked Oysters"> Baked Oysters</div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="maincourse-menu">
          <div class="menu">
            <h4 class="Headings">Main Course</h4>
            <div class="reverse">
              <div class="cost">
                <div>&#8377; 110</div>
                <div>&#8377; 120</div>
                <div>&#8377; 90 </div>
                <div>&#8377; 150</div>
                <div>&#8377; 220</div>
                <div>&#8377; 200</div>
                <div>&#8377; 120</div>
                <div>&#8377; 100</div>
                <div>&#8377; 100</div>
              </div>
              <div class="food">
                <div ><input name="order" type="checkbox" value="Kadhai Paneer"> Kadhai Paneer</div>
                <div ><input name="order" type="checkbox" value="Butter Paneer"> Butter Paneer</div>
                <div ><input name="order" type="checkbox" value="Mixed Vegetable"> Mixed Vegetable</div>
                <div ><input name="order" type="checkbox" value="Chana Masala"> Chana Masala</div>
                <div ><input name="order" type="checkbox" value="Butter Chicken"> Butter Chicken</div>
                <div ><input name="order" type="checkbox" value="Chicken Curry"> Chicken Curry</div>
                <div ><input name="order" type="checkbox" value="Mushroom Mattar"> Mushroom Mattar</div>
                <div ><input name="order" type="checkbox" value="Dam Aaloo"> Dam Aaloo</div>
                <div ><input name="order" type="checkbox" value="Chole Bhature"> Chole Bhature</div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div id="dessert-menu">
          <div class="menu">
            <h4 class="Headings">Dessert</h4>
            <div class="reverse">
              <div class="cost">
                <div>&#8377; 70</div>
                <div>&#8377; 90</div>
                <div>&#8377; 50</div>
                <div>&#8377; 110</div>
                <div>&#8377; 69</div>
                <div>&#8377; 240</div>
                <div>&#8377; 60</div>
                <div>&#8377; 120</div>
                <div>&#8377; 70</div>
              </div>
              <div class="food">
                <div ><input name="order" type="checkbox" value="Gajar ka halwa"> Gajar ka halwa</div>
                <div ><input name="order" type="checkbox" value="Kheer"> Kheer</div>
                <div ><input name="order" type="checkbox" value="Custard"> Custard</div>
                <div ><input name="order" type="checkbox" value="Pumpkin Pie"> Pumpkin Pie</div>
                <div ><input name="order" type="checkbox" value="Ice cream Sandwich"> Ice cream Sandwich</div>
                <div ><input name="order" type="checkbox" value="Gulab Jamun"> Gulab Jamun</div>
                <div ><input name="order" type="checkbox" value="Cake"> Cake</div>
                <div ><input name="order" type="checkbox" value="Pastries"> Pastries</div>
                <div ><input name="order" type="checkbox" value="Pudding"> Pudding</div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div id="beverages-menu">
          <div class="menu">
            <h4 class="Headings">Beverages</h4>
            <div class="reverse">
              <div class="cost">
                <div>&#8377; 60</div>
                <div>&#8377; 30</div>
                <div>&#8377; 70</div>
                <div>&#8377; 80</div>
                <div>&#8377; 60</div>
                <div>&#8377; 20</div>
                <div>&#8377; 60</div>
                <div>&#8377; 80</div>
                <div>&#8377; 80</div>
              </div>
              <div class="food">
                <div ><input name="order" type="checkbox" value="Cold cofee"> Cold cofee</div>
                <div ><input name="order" type="checkbox" value="Diet Coke"> Diet Coke</div>
                <div ><input name="order" type="checkbox" value="Oreo Shake"> Oreo Shake</div>
                <div ><input name="order" type="checkbox" value="Virgin Mojito"> Virgin Mojito</div>
                <div ><input name="order" type="checkbox" value="Apple Juice"> Apple Juice</div>
                <div ><input name="order" type="checkbox" value="Tea"> Tea</div>
                <div ><input name="order" type="checkbox" value="Vanila Violet Soda"> Vanila Violet Soda</div>
                <div ><input name="order" type="checkbox" value="Cucumber Mint Soda"> Cucumber Mint Soda</div>
                <div ><input name="order" type="checkbox" value="Citrus Cooler"> Citrus Cooler</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-btn">
        <button type="submit" class="btn">Order</button>
      </div>
    </form>  
</body>
</html>